body{
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    color: #363636;
    line-height: 1.7;
    font-size: 1rem;
}

form{
 
    padding: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    border-radius: 5px;
}
button{
    border: none;
    width: 100%;
    padding: 8px;
    background-color: rgb(121, 82, 179);
    color: white;
    border-radius: 5px;
}